<div class="row">
    <div *ngFor="let country of countries" class="col-6 col-md-4 col-lg-3">
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="flag mr-2">
    </div>
</div>