<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Guards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/country">Country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <button *ngIf="!auth" class="btn btn-primary mr-2" (click)="goConnect()">Connexion</button>
            <button *ngIf="auth" class="btn btn-warning" (click)="goDisconnect()">Déconnexion</button>
        </div>
    </div>
</nav>